<!DOCTYPE html>
    <html lang="en">
 
 <head>
    <title>Tweet4Tweet</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    </head>
    <body>
<h1>Who do you want to reach? 
<div class="input-append">
<input class="span2" id="appendedInputButtons" type="text" placeholder="Search by Name/twitter @">
<button class="btn" type="button">Search</button>

<div class="tweet">
<p>What should your friend tweet?</p>
<textarea rows="4"></textarea>
<br>
<input type="text" placeholder="Paste Link">
	</div>
    
</body>
    </html>

